* {
  font-family: 'Lato', sans-serif;

}

body {
  background-color: #f5f5f5;
  overflow-x: hidden;
}

.navSocial {
  background-color: #e8e8e8;
  width: 100%;
  height: 40px;
  margin: 0;


}

.nav-link1 {
  color: #ababab;
  position: relative;
  bottom: 18px;

}

.nav-link1:hover {
  color: #05a0bf;
}


.nav-link3 {
  color: #ababab;
}

.nav-link3:hover {
  color: #05a0bf;
}

.navbar-nav .nav-link {
  color: #656565;

}

.navbar-nav .nav-link:hover {
  color: #05a0bf;
}

.sm-icons {
  flex-direction: row;
  display: flex;
  justify-content: end;


}

.sm-icons .nav-link1 {
  padding-right: 1em;

}

.navbar-toggler {
  background-color: #2c527e;
  color: #dadfe5;
}
.icone2{
  width: 90%;
  
}

.icone {
  width: 100px;
  /* padding-left: 5px; */

}

a.navbar-brand {
  width: 25%;
}

a {
  color: #ffffff;
}

.nav-item {
  font-weight: bold;
  padding: 20px;
}

a.nav-link:hover {
  color: #05a0bf;
}


.responsivizando hr {
  width: 600px;
}
.responsivizando h4 {
  color: #1E3B5D;
}
.responsivizando p {
  color: #656565;
  text-transform: uppercase;
}



.btnAgenda .btn-primary {
  background-color: #1E3B5D;
  color: white;
  border: 0;
  width: 250px;
  height: 70px;
  font-weight: 700;
}

.btnAgenda .btn-primary:hover {
  background-color: #05a0bf;
  width: 17em;
}

.btn-primary {
  background-color: #1E3B5D;
  color: white;
  border: 0;
  margin: 30px;
  width: 240px;
  height: 65px;
  font-weight: 700;
}

.btn-primary:hover {
  background-color: #05a0bf;
  width: 16em;
}

.btn-outline-dark {
  width: 210px;
  height: 65px;
  font-weight: 700;
  border-width: 2px;
}

.btn-outline-dark:hover {
  background-color: #05a0bf;
  width: 15em;
  border: 0;
}

.container-galeria {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 300px;
  padding: 30px;
  padding-top: 0px;
  padding-bottom: 0px;

  background-color: #1E3B5D;
}

/* AGENDA */
.text-primary {
  display: flex;
  justify-content: center;
}

.text-primary img {
  width: 40%;
  padding-top: 30px;
  padding-bottom: 15px;
}

.item-galeria {
  position: relative;
  background-color: black;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  padding: 0px;
}

.item-galeria-link {
  position: relative;
  background-color: black;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 300px;
  color: white;
  padding: 35px;

}

.item-galeria-link:hover {
  cursor: pointer;
  transition: 1.5s ease;
  background-color: rgb(0, 0, 0);
  opacity: 0.3;
  color: rgb(135, 135, 135);

}

.item-galeria img {

  filter: grayscale(100%);
  transition: filter 0.3s ease-in-out;
}

.item-galeria:hover img {
  cursor: pointer;
  transition: 0.5s ease;
  background-color: rgb(0, 0, 0);
  opacity: 0.4;
  color: #000;
  filter: grayscale(0%);
}


.item-galeria .item-galeria {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.h-1 {
  grid-row: span 1;
}

.h-2 {
  grid-row: span 2;
}

.w-1 {
  grid-column: span 1;
  height: 200px;
}

.w-2 {
  grid-column: span 2;
}


@media(max-width:768px) {
  .container-galeria {
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 50vh;
  }

  .h-2 {
    grid-row: span 1;
  }

  .w-2 {
    grid-column: span 1;
  }
}


.footerX {
  background-color: #1E3B5D;
  color: white;
  padding: 10px;
}
.footerX .ajus{
width: 120%;
margin-left: -23px;
}

.footerX h6 {
  text-transform: uppercase;
}


.btn.btn-social-icon {
  width: 50px;
  height: 50px;
  padding: 0;
}

.template-demo>.btn {
  margin-right: 0.5rem !important;
}

.template-demo {
  margin-top: 0.5rem !important;
}

.btn.btn-rounded {
  border-radius: 50px;
}

.text-uppercase {
  font-weight: 700;
}

.btn-facebook {
  background: #ababab;
  color: #1E3B5D;
  font-size: 22px;
}

.btn-facebook:hover,
.btn-facebook:focus {
  background: #05a0bf;
  color: #ffffff;
}

.btn-youtube {
  background: #ababab;
  color: #1E3B5D;
  font-size: 22px;
}

.btn-youtube:hover,
.btn-youtube:focus {
  background: #05a0bf;
  color: #ffffff;
}


.btn-twitter {
  background: #ababab;
  color: #1E3B5D;
  font-size: 22px;
}

.btn-twitter:hover,
.btn-twitter:focus {
  background: #05a0bf;
  color: #ffffff;
}


.btn-instagram {
  background: #ababab;
  color: #1E3B5D;
  font-size: 22px;
}

.btn-instagram:hover,
.btn-instagram:focus {
  background: #05a0bf;
  color: #ffffff;
}


.btn-telegram {
  background: #ababab;
  color: #1E3B5D;
  font-size: 22px;
}

.btn-telegram:hover,
.btn-telegram:focus {
  background: #05a0bf;
  color: #ffffff;
}

.vgr-cards .card {
  display: flex;
  flex-flow: wrap;
  flex: 100%;
  margin-bottom: 40px;

}

#breadcrumb {
  color: #ffffff;
  font-weight: 900;
  width: 100%;
  height: 200px;
}

h1 {
  font-weight: 900;
  padding-top: 5%;
  padding-left: 20px;
  font-family: 'Lato', sans-serif;

}

.faleconosco {
  padding: 5%;
  font-size: 1.2em;
  background-color:#ffffff;
  color:  #2c527e;
}


.faleconosco  .btn-facebook {
  background: #1E3B5D;
  color: #ffffff;
    font-size: 22px;
  }
  
  .faleconosco  .btn-facebook:hover,
  .btn-facebook:focus {
    background: #05a0bf;
    color: #ffffff;
  }
  
  .faleconosco  .btn-youtube {
    background: #1E3B5D;
    color: #ffffff;
    font-size: 22px;
  }
  
  .faleconosco .btn-youtube:hover,
  .btn-youtube:focus {
    background: #05a0bf;
    color: #ffffff;
  }
  
  
  .faleconosco .btn-twitter {
    background: #1E3B5D;
    color: #ffffff;
    font-size: 22px;
  }
  
  .faleconosco  .btn-twitter:hover,
  .btn-twitter:focus {
    background: #05a0bf;
    color: #ffffff;
  }
  
  
  .faleconosco .btn-instagram {
    background: #1E3B5D;
    color: #ffffff;
    font-size: 22px;
  }
  
  .faleconosco .btn-instagram:hover,
  .btn-instagram:focus {
    background: #05a0bf;
    color: #ffffff;
  }
  
  
  .faleconosco .btn-telegram {
    background: #1E3B5D;
    color: #ffffff;
    font-size: 22px;
  }
  
  .faleconosco .btn-telegram:hover,
  .btn-telegram:focus {
    background: #05a0bf;
    color: #ffffff;
  }


h2 {
  font-weight: bold;
}

#contribua {
  padding: 6%;
  letter-spacing: 1px;
  color: #f5f5f5;
  background: url(/assets/bg-contribua.jpg) bottom center no-repeat;
 background-size: cover;

}

#contribua p h2{
  text-align: justify;
}

.pix {
  width: 40%;
  margin-left: 130px;
}

.modal-body55 p{
  padding-left: 120px;
  padding-top: 20px;
}

.table th img {
  width: 60px;
  border-radius: 10%;
  margin-left: 20px;
}


.container1 .bandeiras {
  width: 40%;
  position: absolute;
  left: 60%;
}

.card {
  background-color: #f3f3f3;

}

/* TRADUTOR!!!! */
.bandeirasIdioma {
  width: 20px;
  border-radius: 20%;
  position: relative;
  left: 10px;
  top: 5px;
}

.destaqueAgenda {
  padding-top: 7%;
  color: #2c527e;
}


h3 {
  font-weight: 900;

  font-family: 'Lato', sans-serif;
}

.card-body5 {
  background-color: #f5f5f5;
  padding: 50px;
}

.mes {
  display: flex;
  justify-content: center;
}

.igreja {
  display: flex;
  justify-content: start;
}

.container1 {
  width: 70%;
  font-family: 'Lato', sans-serif;
  padding-top: 10%;
}

.container1 p {
  font-weight: 600;
  text-transform: uppercase;
  color: #656565;
  font-size: 0.8em;
}

.container1 h4 {
  color: #1f3c5d;
  font-size: 1.3em;
}

.cardPessoal {
  width: 80%;
  font-size: 1.5em;
  text-shadow: 0 0 2px #000000;
  position: relative;
  left: 10%;

}

.row1 {
  width: 100%;
}

.lives {
  position: absolute;
  bottom: 0px;
}

.botoesBirubiru {
  display: flex;
  justify-content: center;
}

.cardConvite {
  background-color: #eaebed;
  padding: 0;
  width: 100%;
}

.card-img-body2 {
  background-color: #f5f5f5;
  padding: 0;
}

.card-bodyConvite {
  padding: 40px;


}

.vamo {
  padding: 50px;
}


.card-img {
  width: 80%;
  position: relative;
  left: 10%;
  top: 50px;
}

.card-imgA {
  width: 100%;
}

hr.rounded {
  border-top: 8px solid #c5c5c5;
  border-radius: 25px;
  width: 10%;
  display: flex;
  justify-content: center;
  padding-bottom: 6%;
}

#google_translate_element {
  display: none;
}

.goog-te-banner-frame {
  display: none !important;
}

.loader-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 9999;

}

.loader {
  border: 10px solid #f3f3f3;
  border-top: 10px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  margin-right: 10px;
}

h4 {
  font-weight: 900;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.imgAgenda {
  width: 100%;
  border-radius: 8px;
}

.tudo {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bodyA {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  background: url("https://live.staticflickr.com/65535/52767749273_54a4d21b91_b.jpg") top;
  padding-bottom: 10px;
}

.containerA {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  flex-wrap: wrap;
  z-index: 1;
}

.containerA .cardA {
  position: relative;
  width: 300px;
  height: 410px;
  margin: 30px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: rgba(141, 172, 189, 0.1);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid rgba(255, 255, 255, 0.5);
  border-left: 2px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(2px);
}

.containerA .cardA:hover {
  backdrop-filter: blur(10px);
}

.containerA .cardA .contentA {
  padding: 20px;
  text-align: center;
  transform: translateY(100px);
  opacity: 0;
  transition: 0.5s;
}

.containerA .cardA:hover .contentA {
  transform: translateY(0px);
  opacity: 1;
}

.containerA .cardA .contentA h2 {
  color: #000;
}

.card-textA h1 {
  padding-left: 20%;
  color: #05a0bf;
  background-color: #000;
  width: 135%;
  height: 50px;
}


.containerA .cardA .contentA h3 {
  font-size: 1em;
  color: #fff;
  z-index: 1;
}

.containerA .cardA .contentA p {
  font-size: 1em;
  color: #fff;
  font-weight: 300;
}
.bandeiras {
  width: 60px;
  padding-top: 5px;
}

.modal-content {
  border-radius: 0;
  border: none;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  color: #000;
}

/* Estilo do botão de fechar */
.modal-header button.close {
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
}


/* Centraliza a imagem dentro do modal */
.modal-body img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  filter: grayscale(0);
}

.img-responsive:hover {
  filter: grayscale(0);
}


.carousel-item img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.cardMidia a {
  color: #3498db;
  /* font-weight: bold; */
}

/* tablet vertical*/
@media (max-width: 800px) {
  .fotoAgenda {
    width: 100%;
    
  }
}


/* RESPONSIVIDADE DO CARD page MIDIAS ** MOBILE */
@media (max-width: 767.98px) {
  .cardMidia .card-img {
    margin-bottom: 3rem;
  }
  .faleconosco .container{
    position: relative;
    /* bottom: 180px; */
    /* margin-bottom: -470px; */
    /* width: 60%; */
    /* left: 40%; */
  }
  .card-bodyMidia {
    width: 300px;
    height: 0;
    padding: 0;

  }
  .responsivizando {
    width: 100%;
  }

  .card-bodyMidia h4 {
    font-size: 1.2em;
  }

  .card-bodyConvite {
    margin-bottom: 20px;
  }
  .botoesModal{
    display: block;
    margin: 0 auto;
  }
  .mes {
    padding-right: 85%;
  }

  
  .btnAgenda {
    display: flex;
    justify-content: center;
  }

  .container .bandeiras {
    width: 20%;
  }

  .container {
    padding: 25px;

  }
  .faleconosco .container{
    position: relative;
   right: 15px;
  }
  .container33 .card-body{
    padding-bottom: 100px;
    padding-left: 50px;
  }

  .fotoAgenda {
    width: 280px;
    display: none;
    
  }
 
}

.responsivizando {
  margin-right: 300px;
  font-size: 0.9em;
  margin-bottom: 50px;
}

.agenda button {
  width:120px;
  height: 55px;
  background-color: #1E3B5D;
  color: #e8e8e8;
  font-size: 0.9em;
  font-weight: 600;
  border: #000;
  margin: 3px;
}
.fotoAgenda {
  width: 480px;
  height: 550px;
  
}
.btnAgenda {
  position: relative;
  left: 9%;
}
.agenda button:hover {
  background-color: #05a0bf;
}

/* DEFINIÇÃO NO DESKTOP */
@media only screen and (min-width: 992px) {
  #eventbrite {
    position: relative;
    left: 650px;
    }
    #eventbrite-widget-modal-trigger-472040244077 {
      position: relative;
      left: 820px;
      }
  .agenda button {
    border-radius: 10px;
    position: relative;
    left: 520px;
    bottom: 30px;
  }

  .lives {
    margin-bottom: 50px;
  }
  .responsivizando hr {
    width: 600px;
    position: relative;
    right: 150px;
  }
  .agenda #eventbrite-widget-modal-trigger-472026081717 {

    margin-left: 11%;
  }
.footerX .linksU{
  position: relative;
  right: 150px;
}
.linksU h5 {
  position: relative;
  left: 68px;
}
.footerX .linksUT{
  position: absolute;
  bottom: 1px;
}
  .fotoAgenda {
    position: absolute;
    top: -525px;
    left: 750px;
    padding: 50px;
  }
  .row55{
    margin-left: 100px;
    margin-top: 80px;
  }

 
  .infoBio p {
    width: 40%;
    padding-top: 20px;
    text-align: justify;
  }
  .card-img-bottom {
    width: 50%;
    position: absolute;
    left: 45%;
    top: 5%;
    padding: 40px;
  }

  .botoesModal{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh; 
    }
    
  .quemSomos .card-body {
    padding: 50px;
    padding-left: 100px;
  }

  .quemSomos p {
    width: 45%;
    text-align: justify;
  }
.container33{
  display: flex;
    justify-content: center;
    /* align-items: center; */
}
  .containerMidia {
    padding: 20px;
    position: relative;
    left: 15%;
    
  }
  .containerMidia2 {
    padding: 20px;
    position: relative;
    /* right: 10%; */
    
  }

  .cardMidia {
    border-radius: 8px;
    background-color: #ffffff;
    border: 2px black;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.2);
    width: 60%;
  }
  
.card-bodyMidia {
  position: relative;
  bottom: 50px;
  left: 45px;
}
  .cardMidia img {
    width: 110%;
    border-radius: 3px;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.2);
  }

  .video iframe {
    width: 660px;
    height: 415px;
    position: absolute;
    left: 50%;
    top: 20%;
    border-radius: 50px;
  }
.faleconosco {
  /* width: 30%; */
  /* height: 55px; */
}
.agenda img{
  margin-top: 15px;
}
.faleconosco .enviar{
 display: flex;
 justify-content: center;
}

#breadcrumb h5{
  background-color: #000000;
  /* opacity: 20%; */
  padding-left: 20px;
  padding-top: 2px;
  width: 800px;
  height: 30px;
}

.faleconosco .container{
  position: absolute;
  bottom: 400px;
  /* margin-bottom: -470px; */
  width: 60%;
  left: 40%;
}

.icone2{
 position: relative;
 right: 80px;
 bottom: 10px;
  width: 60%;
}
.separador{
  /* width: 250px; */
  height: 200px;
  background-color: white;
}

#myModal  .container8{
 position: relative;
 right: 15%;
}


}

.faleconosco p{
  color: #000;
  text-align: justify;
}

#breadcrumb h5{

  padding-left: 20px;
  padding-top: 2px;
}
#breadcrumb h4{

  padding-left: 20px;
  padding-top: 2px;
  color: #ababab;
}

.faleconosco p > i {
  color: #05a0bf;
}


#myModal55 {
  width: 1000px;
  height: 700px;
  padding: 50px;
  /* margin-right: 600px; */
  position: relative;
  top: -400px;
  /* margin-bottom: 300px; */
  /* left: -20%; */
}